
body {
background-color: #ffffff;
color: black;
transition: background-color 2s, color 2s;
}
.modo-escuro {
    background-color: black;
    color: lightgray;
}
header {
    position: fixed;
    top: 1.5vh;
    left: 50%; 
    transform: translateX(-50%);
}
@media (max-width: 1180px) {
    .navbar {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5rem);
  
    }
}

.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 3rem;
}
#menu .logo {
    padding-left: 5rem;
    margin-right: auto;
    font-size: clamp(3rem, 2vh, 6rem);
    font-weight: bold;
}
#menu li {
    font-size: clamp(1.2rem, 1.5vh, 1.5rem);
    padding: 1rem; 
}
#menu li:last-child{
    padding-right: 5rem;
}

 .botao-tema {
       font-size: 2rem;
       color: black;
       background-color: white;
       width: 3rem;
       border-radius: 1rem;
       border: 0.1rem solid gray;
        cursor: pointer;
   }
   .item-menu {
    position: relative; 
   }
   .item-menu:before, .item-menu:after {
    content:"";
    position: absolute;
height: 0.3rem;
width: 0;
background: linear-gradient(45deg, #445f80, #506b8d, #5a7699, #6b84a8, #7b92b7);
transition: 0.5s;   
}
.item-menu:after {
    left: 0;
    bottom: -1rem;
}
.item-menu:before {
right: 0;
top: -1rem;
}
.item-menu:hover:after,
.item-menu:hover:before {
    width: 100%;
}
main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 150rem;
}
#img-inicio {
    display: flex;
    justify-content: center;
  height: 45vh;

}
#img-inicio img{
 max-height: 100%;
 width: clamp(100%, 35vw, 100%);

}

#texto-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 45vh;
}
#texto-inicio h1 {
    font-size: clamp(5rem, 10vw, 11rem);
    margin-bottom: 3rem;
}
#texto-inicio p:first-of-type {
    font-size: clamp(1.5rem, 2.5vw, 3.5rem);
    max-width: 120rem;
    margin-bottom: 3rem;
    padding: 0 0.4rem 0 0.4rem;

}


.fale-cmg {
    font-weight: bold;
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    border-radius: 5px;
}
.fale-cmg i {
    cursor: pointer;
}

.fa-arrow-up-right-from-square {
    animation: pulsar 1.5s infinite ease-in-out;
}
@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.30);
        opacity: 0.8;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
}

.social-icon {
    font-size: clamp(3rem, 3vw, 4rem);
    padding: 0.8rem;
    display: inline-block;
}
.social-icon i {
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover i {
    transform: scale(1.2);
  }
  .social-icon:hover .fa-linkedin {
    color: #0077b5; 
}

.social-icon:hover .fa-github {
    color: white; 
    text-shadow: 1px 1px 0px black, 2px 2px 0px black;
    
}

.social-icon:hover .fa-whatsapp {
    color: #25D366; 
}
.container {
    display: flex;
    align-items: center;
    max-width: 825px;
    overflow: hidden;
    width: 100%;
    min-height: 10vh;

}

.wrapper {
    display: flex;
    width: max-content;
    animation: scroll 10s linear infinite;
}
.lista {
    display: flex;
    gap: 20px;
}
.item {
margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border-radius: 10px;
}
.item1 {
margin-left: 20px;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
#grid-habilidades {

width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(37.5rem, 1fr));
        gap: 2rem; 
}
#grid-habilidades div {
    margin: 3rem 1rem 3rem 1rem;
    padding: 2rem;
    text-align: center;
    border: 1px solid black;
  }


  



