body {
background-color: black;
color:  #dac5a7;
}
header {
    position: fixed;
    top: 2vh;
    left: 50%; 
    transform: translateX(-50%);
  background-color: rgba(65, 64, 64, 0.5);
  font-weight: bold;
}
nav {
    box-shadow: 0 0 0 0.5px #dac5a7;
    }
ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
li {
    padding: 15px;
}