@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    --cor-azul:#8e3939;
  }
  
body {
    background-color: white;
            background-image: url('https://transparenttextures.com/patterns/absurdity.png');
    font-family: 'Inter', sans-serif;
color: black;
transition: background-color 0.5s, color 0.5s;
}
.modo-escuro {
    background: black;
    background-image: url('https://transparenttextures.com/patterns/dark-denim-3.png');
    color: white;
}
header {
    z-index: 2;
    position: fixed;
    top: 0.5vh;
    max-width: 1500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: box-shadow 1s ease-in-out, padding 0.8s ease-out;

}
  
.navbar {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
max-height: 3rem;

}
#menu .menu-container {
    padding: 0;
}
#menu .menu-toggle {
    display: none;
    color: var(--cor-azul);
    padding: 0;
    margin-right: 2rem;
}
.menu-items {
    display: flex;
    align-items: center;

}
.buttons {
    display: flex;   
}
.buttons button {
    font-size: 2rem;
    margin: 0.5rem;
}
.scrolled {
    max-width: 50rem;
margin: 0 auto;
    justify-content: center;
    padding: 1rem;
    color: black;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.3rem);
    box-shadow: 0 0 0 0.7px gray;
    transition: box-shadow 1s ease-in-out, padding 0.5s ease-out, background-color 0.5s ease;
}
#menu .logo {
    color: var(--cor-azul);
margin-right: auto;
    font-size: clamp(3rem, 2vh, 5rem);
    font-weight: bold;
    text-shadow: -1px 1px 2px gray;

}
#menu li {
    font-size: clamp(1.2rem, 1.5vh, 1.3rem);
padding: 1rem;

}

.scrolled-escuro {
    background: rgba(17, 17, 17, 0.9);
    backdrop-filter: blur(0.3rem);
    color: white;
    transition: background-color 0.5s ease, padding 0.5s ease-out;
}


   .item-menu {
    font-weight:bold;
    position: relative; 
   }
   .item-menu:before {
    content:"";
    position: absolute;
height: 0.2rem;
width: 0;
left: 0;
border-radius: 50%;
bottom: -0.5rem;
background-color: var(--cor-azul);
transition: width 0.5s ease-in-out;   

}
.item-menu:hover:before {
    width: 100%;
}
@media (max-width: 768px) {
    #menu .menu-toggle {
         display: block;
         position: relative;
     }
 
     .toggle-icon {
         font-size: clamp(3rem, 2vh, 5rem);
         transition: opacity 0.3s ease, transform 0.3s ease;
         position: absolute;
         top: -15px;
         left: -15px;
         opacity: 1;
     }
 
     #close-icon {
         display: none;
     }
 
     .menu-toggle.active #menu-icon {
         opacity: 0; 
         transform: rotate(45deg); 
     }
 
     .menu-toggle.active #close-icon {
         display: block; 
         opacity: 1;
         transform: rotate(0deg); 
     }
  
 
     .menu-items {
       
         display: flex;
         flex-direction: column;
         position: absolute;
         top: 5.5rem;
         left: 0;
         width: 100%;
         background: rgba(255, 255, 255, 0.9);
         max-height: 0;
         overflow: hidden;
         transition: max-height 0.5s ease;
     }
 
     .menu-items.active {
         max-height: 300px; 
     }
 
     .menu-items li:first-child {
         margin-top: 1rem;
     }
 
     .menu-items-escuro {
         background: rgba(17, 17, 17, 0.9);

     }
 
     .menu-items li {
         padding: 1rem;
     }
 
     .buttons {
         margin-top: 1rem;
     }
 
     .scrolled {
         max-width: 100%;
     }
 }
 .icon.sun {
font-weight: normal;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon.moon {
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon.clicked {
    transform: rotate(360deg); 
}

.img-inicio {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
     height: 35vh;

}
.img-inicio img{
 border-radius: 50%;

}
.back-end {
    display: block; 
    position: relative;
}
.back-end:before {
    content: '';
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 2px;
    width: 50%;
    background-color: var(--cor-azul);
}


#texto-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#texto-inicio h1 {
    font-size: clamp(2rem, 12vw, 9rem);
    margin-bottom: 3rem;
    margin-top: 3rem;
}
#texto-inicio p:first-of-type {
    font-size: clamp(1.4rem, 2.5vw, 2.5rem);
    max-width: 100rem;
    margin-bottom: 3rem;
    padding: 0 0.4rem 0 0.4rem;

}

.btn-padrao {
    font-weight: bold;
    color: white;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    padding: 0.7rem;
    border: 0.1rem solid var(--cor-azul);
    border-radius: 10rem;
    background-color: var(--cor-azul);
    transition: box-shadow 0.3s ease;
}
.btn-padrao:hover {
    box-shadow: 0 0 10px gray;
}

.social-icon {
    font-size: 3rem;
    padding: 0.5rem;
    display: inline-block;

}

.social-icon i {
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover i {
    transform: scale(1.3);
  }
  .social-icon:hover .fa-linkedin {
    color: #0077b5; 
}

.social-icon:hover .fa-github {
    color: white; 
    text-shadow: 0 0 0.3rem black;
    
}

.social-icon:hover .fa-whatsapp {
    color: #25D366; 
}
.max-width-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150rem;
    margin: 3rem auto;
}
.max-width-container {
    margin: 0 auto;
    max-width: 150rem;
}
.div-icons-lang {
    display: flex;
align-items: center;
    max-width: 825px;
    overflow: hidden;
    width: 100%;
    min-height: 10vh;
}

.wrapper {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}
.lista {
    display: flex;
    gap: 20px;
}
.item {
margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border-radius: 10px;
    position: relative;
}


@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

  .item span {
    position: absolute; 
    bottom: -2rem;
    text-align: center;  
    font-size: 1.5rem;  
    white-space: nowrap;
    margin-left: 0.2rem;
}

@media (min-width:765px) {
    .item span {
        display: block;
    }
}
#habilidades{

display: flex;
align-items: center;
justify-content: center;
width: 100%;
padding:  3rem 1rem 3rem 1rem;
}
#habilidades div {

background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
 width: 100%;
    text-align: left;
    box-shadow: 0 0 0.4rem;
}

.fa-server, .fa-database, .fa-git-alt  {
    color: var(--cor-azul);
}
#habilidades .card-hab-escuro {
    background-color: #111111;
}
@media (max-width:1100px) {
#habilidades {
    flex-direction: column;
}

}
#habilidades div h1 {
font-weight: 900;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    margin-bottom: 1.5rem;
}

#habilidades div h2 {
    font-weight: normal;
    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
    margin-bottom: 3rem;
}
#habilidades div p {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    margin-bottom: 2rem;
}
.link-modal {
    max-width: 9rem;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
padding: 0.3rem;
border-radius: 0.8rem;
    font-weight: bold;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);

}


.container-projetos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}
.titulo-projetos {
    position: relative;
    font-size: clamp(2rem, 5vw, 5rem);
text-align: center;
margin-bottom: 2rem;
}
.titulo-projetos:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 2px;
    width: 50%;
    background-color: var(--cor-azul);
    
}
.subtitulo-projetos {
    font-size:clamp(1.5rem, 2vw, 2rem);
}

#grid-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.8rem, 1fr));
    gap: 5rem;
    max-width: 150rem;  
    margin: 0 auto;
    padding: clamp(1rem, 5vw, 5rem);

}
.div-grid {
    box-shadow: 0 0 0.8rem;
    position: relative;
    border-radius: 5%; 
    overflow: hidden;
    background-color: var(--cor-azul);
}

.texto-grid{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    left:0;
    right:0;
    bottom:0;
    top:0;
    border-radius: 5%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.3rem);
    padding: 5rem;
    transform: scale(0.5);
    transition: opacity 0.4s ease, transform 0.4s ease-in-out;
    box-shadow: inset 0 0 10px -2px;
}
.div-grid:hover .texto-grid {
    opacity: 1;
    transform: scale(1);  
}

.texto-grid-noturno {
    background-color: rgba(17, 17, 17, 0.9);
    backdrop-filter: blur(0.3rem);
}

.div-grid a {
    color: var(--cor-azul);
}
.titulo-grid {
    display: flex;
    align-items: center;
    font-size: clamp(1.7rem, 2vw, 2.7rem);
    padding-bottom: 1.2rem;
}
.titulo-grid i {
    padding-left: 1.2rem;
   color: var(--cor-azul);;
}
.titulo-grid i:first-child {
    margin-left: auto;
}
.paragrafo-grid {
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    padding-bottom: 1.2rem;

}
.deploy-grid {
    font-size: clamp(1rem, 2vw, 1.5rem);
margin-right: 1.2rem;
padding: 0.3rem;
text-underline-offset: 0.3rem;
    text-decoration: underline;
    
}
.codigo-grid {
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 0.3rem;
    text-underline-offset: 0.3rem;
    text-decoration: underline;   
}

.div-grid img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5%; 
}
.container-exp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 150rem;
    margin: 2rem auto;
}
.titulo-exp {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
font-weight: normal;
position: relative;
}
.titulo-exp:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 2px;
    width: 50%;
    background-color: var(--cor-azul);
}
.subtitulo-exp {
text-align: center;
font-size: 3rem;
margin-bottom: 1rem;

}


.paragrafo-exp {
text-align: center;
max-width: 50rem;
font-size: 2rem;
margin: 0 auto;

}

.time-line {
    max-width: 1500px;
    margin: 5rem auto;
    position: relative;
}
.time-line:after {
    content: "";
    position: absolute;
    right: 50%;
    height: 100%;
    width: 0.2rem;
    background-color: gray;
    top:0;
    border-radius: 50px;
}
.container-time-line {
max-width: 50%;
position: relative;
padding:0 5rem 0 5rem;
animation: scroll-animation 3s ease-in-out;
animation-timeline: view();
animation-range: entry 0% cover 50%;
}
@keyframes scroll-animation {

    from {
        opacity: 0;
transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);  
    }
}
.container-time-line:nth-child(even) {
    right: -50%;
}

.time-line-content {
    background-color: whitesmoke;
    min-height: 15rem;
    padding: 2rem;
    box-shadow: 0 2px 5px;
    border-radius: 1rem;
    height: 200px;
}
.time-line-content-noturno {
    background-color:#111111;
}
.time-line-content h2 {
    color: var(--cor-azul);
    font-size: clamp(1.2rem, 2vw, 1.8rem)
}
.time-line-content p {
    font-size: clamp(1rem, 2vw, 1.3rem);

}
@media(max-width:768px) {
    .container-time-line {
        max-width: 100%; 
        margin-bottom: 2rem;
    }
    .container-time-line:nth-child(even) {
        right: 0;
    } 
    .time-line:after {
        left: 1rem;
    }
   
}
#sobre {
    padding: 3rem 0 3rem 0;
background-image: url('https://transparenttextures.com/patterns/brushed-alum-dark.png');
background-position: center;
    background-color: white;       
transition: background-color 1s ease;


}
.sobre-flex {
    display: flex;
    justify-content: center;
    align-items: center;
max-width: 150rem;
margin: 0 auto;
padding: 0 3rem ;

}
.btn-download-cv button {
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    font-size: 1.5rem;
    border: 0.1rem solid gray;
    transition:  background-color 0.5s ease, color 0.5s ease;
}
.btn-download-cv button:hover {
    background-color: var(--cor-azul);
    color: white;
}
@media (max-width:768px) {
    .sobre-flex {
        flex-direction: column;
    }
}

#sobre.sobre-noturno {
    background-color: black;
}
.titulo-sobre {
    display: inline-block;
font-weight: bold;
margin-bottom: 3rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: normal;
    font-size: clamp(2rem, 5vw, 3rem); 
    position: relative; 
}
.titulo-sobre:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 2px;
    width: 50%;
    background-color: var(--cor-azul);
}
.paragrafo-sobre {
 
margin-bottom: 2rem;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}
.conteudo-sobre p:nth-child(4) {
    margin-bottom: 3rem;
}

.conteudo-sobre {
    padding: 2rem;
    max-width: 75rem;
}
#img-sobre { 
    background-color: gray;
    border-radius: 5rem;
    overflow: hidden;
    margin: 5rem;
}
#img-sobre img {
    max-width: 100%;   
}

#contato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 150rem;
    margin: 5rem auto;
    position: relative;
}

@media (max-width:768px) {
    #contato {
    flex-direction: column;
    align-items: center;
    }
    .btn-download-cv {
        width: 100%;
        text-align: center;
    }
}
.titulo-card-ctt {
position: relative;
    font-size:clamp(1.5rem, 2vw, 3rem);
    margin-bottom: 1rem;
}
.titulo-card-ctt:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 2px;
    width: 50%;
    background-color: var(--cor-azul);
}


.card-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 0.4rem;

}

.card-contato form {
    display: flex;
    flex-direction: column;
}
form .btn-enviar { 
    text-align: center;
    transition:  background-color 0.5s ease, color 0.5s ease;
    border: 1px solid gray;
}
form button:hover {
    color: white;
    background: var(--cor-azul);
}
.container-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 36rem;
    margin-right: 15rem;

}

@media (max-width:768px){
    .container-contato {
        margin-right: 0;
        margin-bottom: 4rem;
        height: auto;
    }
    .div-btn-ctt {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.titulo-container-ctt {
    font-size:clamp(2.5rem, 2vw, 4rem);
    margin-bottom:3rem;
    color: var(--cor-azul);
}
.infos-container-ctt {
    margin-bottom: 1rem;
    font-size:clamp(1.5rem, 2vw, 2rem);
}
.fa-envelope {
    margin-bottom: 3rem;
}
.infos-container-ctt i {
    color: var(--cor-azul);
    margin-right: 1rem;
}

form input, form textarea, form button {
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1.6rem;
}

footer {
    background-color: black;
    background-image: url('https://transparenttextures.com/patterns/fabric-of-squares.png');
    min-height: 10vh; 
}
footer section {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: white;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
 align-items: center;

}
section div h3 {
    color: var(--cor-azul);
    font-size: clamp(1.3rem, 2vw, 2.3rem);
    margin: 1rem 0;
}
.menu a, .conectar a {
    display: block; 
    margin:0.5rem 0; 
  }

  .renan-rodrigues p {
    margin-bottom: 1rem;
  }

.footer-container {
    display: flex;
    justify-content: space-between;
    
}
.direitos-reservados {
    font-size: clamp(1rem, 2vw, 1.8rem);

  color: white;
    text-align: center;
    padding-bottom: 1rem;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    footer section {
        align-items: center;
        text-align: center;
    }
  .menu, .conectar {
    display: none;
  }
}